* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7e6ef;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

a.logo{
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.contact-btn {
  background-color: #00bcd4;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #0097a7;
}
