<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Suggestion Form</title>
</head>
<body>
    <h1>Book Suggestion Formk</h1>
    <form action="/submit" method="POST">
        <label for="Bname">Book Title:</label><br>
        <input type="text" name="Bname" required><br><br>

        <label for="Aname">Author name:</label><br>
        <input type="name" name="Aname" required><br><br>

        <label for="message">Why you recommend:</label><br>
        <textarea name="message"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
