<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar UI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <nav class="navbar">
    <a href="" class="logo">KZM</a>
    <ul class="nav-links">
      <li><a href="">Services</a></li>
      <li><a href="project.html">Projects</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
    <a href="contact.html" class="contact-btn">Contact</a>
  </nav>
</body>
</html>
